[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/beriba
[access "refs/for/refs/*"]
	read = group user/beriba
	push = group user/beriba
	label-Code-Review = -2..+2 group user/beriba
	label-Verified = -1..+1 group user/beriba
	rebase = group user/beriba
	removeReviewer = group user/beriba
	submit = group user/beriba
[access "refs/heads/*"]
	read = group user/beriba
	create = group user/beriba
	push = +force group user/beriba
	pushMerge = group user/beriba
[access "refs/tags/*"]
	push = group user/beriba
	push = +force group user/beriba
